@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
    font-family: 'Roboto Condensed', sans-serif;
    width: 90%;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #ff604c;
}

.tag {
    border: 1px solid #B8B9BA;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 5px 5px 10px;
    margin: 2px;
    display: inline-block;
}

.tagInput1{
    outline: none;
    border: 0px;
    height: 20px;
    margin: 2px;
}

.tagInput2{
    outline: none;
    border: 0px;
    border-bottom: 1px solid #ddd;
    height: 20px;
    width: 90%;
    margin: 5px;
}

.deleteTag {
    border: 0;
    border-radius: 21px;
    color: #ff604c;
    padding: 0px 4px 1px 4px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.deleteTag:hover {
    color: red;
}

.deleteTag:before{
    content: '✖';
}